body {
  font-family: sylfaen; 
  margin-top:1%;
  margin-bottom:1%;
  margin-left:5%;
  margin-right: 5%;

  font-size: 14pt;
}

header {
  background-color: #FFE4B5;
  border-style: solid groove;
  border-radius: 10px;
  border-color: gray;
  text-align: center;
  color: #778899;
  font-size: 16pt;
}

ul{
  list-style-type: square;
  max-width: 95%;
}

header h2 {
  font-style: italic;
  font-size: 14pt;
}
aside {
  display: flex;
  float: left;
}

section {
  display: flex;
  margin-top: 0.1cm;
  background-color: #FFE4B5;
  border-style: solid groove;
  border-radius: 10px;
  border-color: gray;
}

article {
  display: flex;
  justify-content: stretch;
  flex-wrap: column wrap;
  flex-direction: column;
  margin-left: 0.5cm;
  width: 100%;
  color: #778899;
}

.main {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
}

.insideArticle {
  display: flex;
  flex-direction: row;
}

.dateInsideArticle {
  width: 170px;
  align-self: center;
  font-style: italic;
}

.articlesInColumn {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.articlesInColumnItem {
  padding-right: 1cm;
}

article h2 {
  font-size: 14pt;
  font-weight: bold;
  color: #778899;
}

article h1 {
  font-size: 16pt;
  font-weight: bold;
  color: #778899;
  text-decoration: underline;
}

article .publi {
  font-style: italic;
}

footer {
  display: block;
  margin-top: 0.1cm;
  background-color: #FFE4B5;
  border-style: solid groove;
  border-radius: 10px;
  border-color: gray;
  color: #778899;
  text-align: center;
}

.ville{
  font-style: italic;
}

footer h2{
  text-decoration : underline;
}

footer a {
  text-decoration: none; 
  color: #778899;
}

article img{
  height: 125pt;
}

.boxImage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}